div{
    background-color: cyan;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
    /* it rotates the container the given degeri
    note: the content in it is also rotated */
    transform:rotate(45deg)

    /* scales the object in all axis  */
    scale(2)
}
/* learn 3d objects from some where else */
button{
    background-color: darkslategrey;
    /* z is the normal rotation and the z,y,x can be included to rotate in that axis */
    rotate: x 50deg;
    /* check the image "xyz.png" */
    /* scales in x,y axis */
    /* transform: scale(1,2) ; */
    /* individual scaling can be done by  */
    transform: scale y(10) ;
}
button:hover{
    transform: rotate(90deg);
    /* moves the thing from center in both x,y direction at the same time*/
    transform: translate(20px,30px);
    

}
/* translate: used to move the object in differnt ways */
h3{
    background-color: indianred;
    /* moves the thing from center */
    transform: translate(20px);
}
h1{
    width: 400px;
    background-color: lightyellow;
    /* kida like ittalics pulls the top left and bottom right */
    transform: skew(40deg);
}