div{
    background-color: cyan;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
    /* it rotates the container the given degeri
    note: the content in it is also rotated */
    transform:rotate(45deg)
}
/* learn 3d objects from some where else */
button{
    background-color: darkslategrey;
    rotate: x 50deg;
}