div{
    background-color: cyan;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
    /* it rotates the container the given degeri
    note: the content in it is also rotated */
    transform:rotate(45deg)
}